/* Light-Dark Color Palette */
:root {
    --light-bg: #f4f4f4;
    --dark-bg: #222;
    --text-light: #fff;
    --text-dark: #333;
    --accent: #f2c17d;
}

body {
    font-family: monospace, monospace;
    margin: 0;
    padding: 0;
    background-color: var(--dark-bg);
    color: var(--text-light);
    line-height: 1.6;
}

/* Background Image at the Top */
.hero {
    /* background-image: url('/images/1636302104290.jpg'); Replace with your uploaded image */
    /* background-size: cover; */
    /* background-position: center; */
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text-light);
    text-align: center;
    font-size: 2em;
    font-weight: bold;
}

header {
    text-align: center;
    padding: 20px 0;
}

h1 {
    margin: 0;
    font-size: 2em;
    color: var(--text-light);
}

h2 {
    font-size: 1.2em;
    border-bottom: 2px solid var(--accent);
    padding-bottom: 5px;
    color: var(--accent);
}

section {
    margin: 20px;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
}

a {
    color: var(--accent);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.contact-info {
    margin-top: 20px;
    text-align: center;
}

.profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background-image: url(/images/IMG_2715.jpg);
    background-size: cover;
    background-position: center;
    border: 3px solid var(--accent);
    margin: 0 auto;
}

.expand-button {
    background-color: var(--accent);
    color: var(--text-light);
    border: none;
    padding: 5px 7px;
    cursor: pointer;
    border-radius: 5px;
}

.project-description {
    display: none;
    margin-top: 10px;
}
